.contactField {
  border-radius: 5px;
  border: 1px solid $black;
  outline: none;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  box-sizing: border-box;
  @include transition(all, .2s, ease-in-out);

  &:first-of-type {
    margin-top: 0;
  }

  &:focus {
    box-shadow: 0 0 8px $accent;
    border: 1px solid $accent;
  }
}

@supports (display: grid) {
  .contactField {
    @include atXLarge {
      &__grid1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }

      &__grid2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: 0;
      }

      &__grid3 {
        grid-row: 3 / 3;
        grid-column: 1 / 2;
        margin: 0;
      }
    }
  }
}
