.contact {
  padding-bottom: 1.5rem;
  width: 95%;
  margin: 0 auto;

  &__title {
    text-align: center;

    @include atXLarge {
      margin: 0;
    }
  }

  @include atXLarge {
    padding: 2rem 0;
  }
}