.contactMessage {
  height: 10rem;
  margin: 1rem 0 1.5rem;
  padding: 1em;
  color: $gray;
  outline: none;
  border: 1px solid $black;
  border-radius: 5px;
  box-sizing: border-box;
  @include transition(all, .3s, ease-in-out);

  &:focus {
    box-shadow: 0 0 8px $accent;
    border: 1px solid $accent;
  }
}

@supports (display: grid) {
  .contactMessage {
    @include atXLarge {
      grid-column: 2 / 2;
      grid-row: 1 / span 3;
      height: 100%;
      margin: 0;
    }
  }
}