.projects {
  background-color: $dark-gray;
  padding-left: .25rem;
  padding-right: .25rem;

  &__title {
    color: $white;
    margin: 0;
    padding: 1rem .5rem;

    @include atLarge {
      text-align: center;
      padding: 2rem .5rem;
    }

    @include atXLarge {
      font-size: $large;
      text-align: center;
      padding: 3rem .5rem;
    }
  }
}

@supports (display: grid) {
  .projects {
    @include atLarge {
      padding-bottom: 2rem;

      &__grid {
        margin: 0 auto;
        width: 50rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include atXLarge {
          width: 60rem;
        }
      }
    }
  }
}