@import url('https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display:400,900');

$ff-serif: 'Playfair Display', serif;
$ff-sans-serif: 'Fauna One', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 900;

$large: 3.157em;
$medium: 1.777em;
$regular: 1em;
$small: 0.75em;
$smallest: 0.563em;

$line-height: 1.2;
